<%= form_for @envbooking, :html => { :class => "form-horizontal envbooking" } do |f| %>

  <% if @envbooking.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@envbooking.errors.count, "error") %> prohibited this envbooking from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @envbooking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :env_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :env_id, options_for_select(Env.all.map{|e|[e.name, e.id]}), :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:env_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, options_for_select(Project.all.map{|p|[p.name, p.id]}), :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:project_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :user_id, options_for_select(User.all.map{|e|[e.email, e.id]}), :class => 'form-control', :prompt => true %>
    </div>
    <%= error_span(@envbooking[:user_id]) %>
  </div>
  <!-- Start date -->

  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start_date, :class => 'form-control' %>

    </div>
    <%= error_span(@envbooking[:start_date]) %>
  </div>

  <!-- End date -->

  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end_date, :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:end_date]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            envbookings_path, :class => 'btn btn-default' %>

<% end %>
