<%= form_for @envbooking, :remote => true, :html => { :class => "envbooking", :style => 'display:inline;'} do |f| %>

  <div class="modal-body">
    <% if @envbooking.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@envbooking.errors.count, "error") %> prohibited this envbooking from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @envbooking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({
          todayBtn: "linked",
          clearBtn: true,
          language: "en-GB",
          calendarWeeks: true,
          autoclose: true,
          todayHighlight: true,
          format: 'dd-mm-yyyy'
        });
      });
    </script>

    <% @envbooking.start_date ||= Date.today() %>
    <% @envbooking.end_date ||= Date.today() %>

    <!-- Environmnt -->
    <div class="control-group">
      <%= f.label :env_id, :class => 'control-label' %>
      <%= f.select(:env_id, @envs.collect{|x| [x.name, x.id]}, {}, { :class => 'form-control input-sm', :id => 'envs_select' }) %>
      <%= error_span(@envbooking[:env_id]) %>
    </div>

    <!-- App -->
    <div class="control-group">
      <%= f.label :app_id, :class => 'control-label' %>
      <%= f.select(:app_id, @apps.collect{|x| [x.name, x.id]}, {}, { :id => "apps_select", :class => 'form-control input-sm', multiple: true, :size => App.count }) %>
      <%= error_span(@envbooking[:app_id]) %>
    </div>

    <!-- Project -->
    <div class="control-group">
      <%= f.label :project_id, :class => 'control-label' %>
      <%= f.select(:project_id, @projects.collect{|x| [x.name, x.id]}, {}, { :class => 'form-control input-sm' }) %>
      <%= error_span(@envbooking[:project_id]) %>
    </div>

    <!-- User -->
    <div class="control-group">
      <%= f.label :user_id, :class => 'control-label' %>
      <%= f.select(:user_id, @users.collect{|x| [x.name, x.id]}, {}, { :class => 'form-control input-sm' }) %>
      <%= error_span(@envbooking[:user_id]) %>
    </div>

    <!-- Start Date -->
    <div class="control-group">
      <%= f.label :start_date, :class => 'control-label' %>
      <%= f.text_field :start_date, :value => @envbooking.start_date.strftime('%d-%m-%Y'), :class => 'form-control input-sm datepicker' %>
      <%= error_span(@envbooking[:start_date]) %>
    </div>

    <!-- End Date -->
    <div class="control-group">
      <%= f.label :end_date, :class => 'control-label' %>
      <%= f.text_field :end_date, :value => @envbooking.end_date.strftime('%d-%m-%Y'), :class => 'form-control input-sm datepicker' %>
      <%= error_span(@envbooking[:end_date]) %>
    </div>

    <div class="control-group">
      <%= f.label :notes, :class => 'control-label' %>
      <%= f.text_area :notes, :value => @envbooking.notes, :rows => 6, :class => 'form-control' %>
      <%= error_span(@envbooking[:notes]) %>
    </div>

  </div>
  <div class="modal-footer">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>
