<%= form_for @envbooking, :html => { :class => "form-horizontal envbooking" } do |f| %>

    <% if @envbooking.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@envbooking.errors.count, "error") %> prohibited this envbooking from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @envbooking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :env_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :env_id, :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:env_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_id, :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:project_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:start_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :class => 'form-control' %>
    </div>
    <%= error_span(@envbooking[:end_date]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            envbookings_path, :class => 'btn btn-default' %>

<% end %>
