<%- model_class = Envbooking -%>

<div class="col-md-12">

  <div class="page-header">
    <%= link_to "", new_envbooking_path, remote: true, class: "btn btn-primary fa fa-lg fa-plus button-text" %>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:env_id) %></th>
        <th><%= model_class.human_attribute_name(:project_id) %></th>
        <th><%= model_class.human_attribute_name(:user_id) %></th>
        <th><%= model_class.human_attribute_name(:app_id) %></th>
        <th><%= model_class.human_attribute_name(:start_date) %></th>
        <th><%= model_class.human_attribute_name(:end_date) %></th>
        <% if can? :update, @envbookings and can? :delete, @envbookings %>
          <th></th><th></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="envbooking-index">
      <%= render 'index' %>
    </tbody>
  </table>
</div>
<div id="envbooking-modal" class="modal" role="dialog"></div>
<div id="envbooking-delete-modal" class="modal" role="dialog"></div>
