<% @envs.each do |env| %>
  <tr>
    <td><%= link_to env.name, env, :remote => true %></td>
    <td><%= env.description %></td>
    <td><%= Envlevel.find_by_id(env.envlevel_id).name %></td>

    <% days_ago = (Date.today - (env.last_refresh_date)).to_i %>
    <% case days_ago %>
    <%  when 0 %>
    <%    time_ago_message = "Today" %>
    <%  when 1 %>
    <%    time_ago_message = "Yesterday" %>
    <%  else %>
    <%    time_ago_message = "#{days_ago} day".pluralize(days_ago) + " ago" %>
    <% end %>

    <td><%= env.last_refresh_date.strftime("%A, %d %B %Y") %></td>
    <td><%= time_ago_message %></td>
    <td>
      <% if can? :update, env %>
        <%= link_to edit_env_path(env), remote: true, title: "Edit", :data => {:toggle=>"tooltip"} do %>
          <span class="fa fa-fw fa-edit"></span>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if can? :delete, env %>
        <%= link_to env_delete_path(env), remote: true, title: "Delete", :data => {:toggle=>"tooltip"} do %>
          <span class="fa fa-fw fa-trash"></span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
