<%- model_class = Envlevel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <% if can? :update, @envlevels and can? :delete, @envlevels %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @envlevels.each do |envlevel| %>
      <tr>
        <td><%= envlevel.name %></td>
        <td>
          <% if can? :update, envlevel %></a>
            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_envlevel_path(envlevel), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :delete, envlevel %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      envlevel_path(envlevel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_envlevel_path,
            :class => 'btn btn-primary' %>
