<%= form_for @appconfig, :remote=> true, :url => {:action => "appconfig", :id => @appconfig } do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>App Config</h3>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <%= f.label :template, :class => 'control-label' %>
            <%= f.text_area :template, :cols => 30, :rows => 5, :class => 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :color_by_project, :class => 'control-label' do %>
              <%= f.check_box :color_by_project, :class => 'form-control' %>
                Color by Project <small>(Default is by Application.)</small>
            <% end %>
          </div>
          
          <div class="form-group">
            <%= f.label :total_hours, :class => 'control-label' %>
            <%= f.number_field :total_hours, :class => 'form-control'  %>
          </div>
      </div>

      <div class="modal-footer">
        <%= f.submit "Save", :class => 'btn btn-primary' %>
        <%= link_to "Cancel", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
      </div>
    </div>
  </div>
<% end %>
