<script id="item-template" type="text/x-handlebars-template">
  <%= @config_var.template %>
</script>

<script type="text/javascript">
  $(function(){
    var source = document.getElementById('item-template').innerHTML;
    var template = Handlebars.compile(source);

    var container=document.getElementById('visualization');
    container.innerHTML = "";

    var groups = new vis.DataSet();

    <% @envs.each do |env| %>
      groups.add({id:<%= env.id %>, content:'<b><%= env.name %></b>'});
    <% end %>

    var items = new vis.DataSet();

    function compute_style (base_color, text_color) {

    };

    <% @envbookings.each do |booking| %>
      <% days_left = (booking.end_date - Date.today).to_i %>

      var title = "App : <%= App.find_by_id(booking.app_id).name %>, \n\
Project : <%= Project.find_by_id(booking.project_id).name %>, \n\
Start : <%= booking.start_date.strftime('%d/%m/%Y') %>, \n\
End : <%= booking.end_date.strftime('%d/%m/%Y') %> \n\
Remaining: <%= days_left %> days";

      items.add({
        id: <%= booking.id %>,
        type: 'range',
        start: '<%= booking.start_date.to_time.iso8601 %>',
        end: '<%= booking.end_date.to_time.iso8601 %>',
        user: '<%= User.find_by_id(booking.user_id).email %>',
        name: '<%= User.find_by_id(booking.user_id).name %>',
        project: '<%= Project.find_by_id(booking.project_id).name %>',
        app: '<%= App.find_by_id(booking.app_id).name %>',
        group: <%= booking.env_id %>,
        subgroup: <%= booking.project_id %>,
        br: '<br/>',
        title: title,
        <% if @config_var.show_extra_color_box %>
          <% if @config_var.color_by_project %>
            extra_color_box: '<div class="extra_color_box" style="background-color: <%= App.find(booking.app_id).color %>;"></div>',
          <% else %>
            extra_color_box: '<div class="extra_color_box" style="background-color: <%= Project.find(booking.project_id).color %>;"></div>',
          <% end %>
        <% end %>
        <% if @config_var.color_by_project %>
          style: '<%= compute_style(booking.project) %>'
        <% else %>
          style: '<%= compute_style(booking.app) %>'
        <% end %>
      });
    <% end %>

    var options = {
      stack:true,
      clickToUse: true,
      min: '<%= @min_date %>',
      max: '<%= @max_date %>',
      template: template,
      orientation: 'both',
    <% if current_user.try(:admin?) %>
      editable: {
        add: false,
        updateTime: true,
        updateGroup: true,
        remove: true
      },
    <% else %>
      editable: false,
    <% end %>
      onRemove: function(item, callback) {
        var r = confirm("Are you sure?");
        if(r == true) {
          $.ajax({
            url: '/envbookings/delete_booking',
            type: 'post',
            data: { envbooking: JSON.stringify(item)}
          });
          callback(item);
        }
        else {
          callback(null);
        }
      },
      onMove: function(item, callback) {
        $.ajax({
          url: '/envbookings/update_booking',
          type: 'post',
          data: { envbooking: JSON.stringify(item)}
        });
        callback(item);
      },
      type: 'range',
    };
    var timeline = new vis.Timeline(container, items, groups, options);
    timeline.focus();
  });
</script>
