<%- model_class = Envbooking -%>
 
<% content_for :script_entry_point do %>

  google.load('visualization', '1', {packages:['timeline'], callback: init});
  
  function init () {
    $(document).on('page:load', drawChart);
    drawChart();
  } 

  function drawChart() {
    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
 

    dataTable.addColumn({ type: 'string', id: 'Environment Name' });
    dataTable.addColumn({ type: 'string', id: 'Project'});
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    dataTable.addRows([
      <% @envbookings.each do |envbooking| %>
        <% if envbooking.id==@envbookings.last.id %>
          [
            '<%= Env.find_by_id(envbooking.env_id).name %>',
            <% if (envbooking.end_date - envbooking.start_date).to_i > 0 %>
              '<%= Project.find_by_id(envbooking.project_id).name %> - <%= User.find_by_id(envbooking.user_id).email %> - <%= App.find_by_id(envbooking.app_id).name %>',
            <% else %> 
              '',
            <% end %>
            new Date(<%= envbooking.start_date.strftime("%Y") %>, <%= (envbooking.start_date.strftime("%m").to_i - 1) %>, <%= envbooking.start_date.strftime("%d") %>),
            new Date(<%= envbooking.end_date.strftime("%Y") %>, <%= (envbooking.end_date.strftime("%m").to_i) - 1 %>, <%= envbooking.end_date.strftime("%d") %>)
          ]
        <% else %> 
          [
            '<%= Env.find_by_id(envbooking.env_id).name %>',
            <% if (envbooking.end_date - envbooking.start_date).to_i > 0 %>
              '<%= Project.find_by_id(envbooking.project_id).name %> - <%= User.find_by_id(envbooking.user_id).email %> - <%= App.find_by_id(envbooking.app_id).name %>',
            <% else %>
              '',
            <% end %>
            new Date(<%= envbooking.start_date.strftime("%Y") %>, <%= (envbooking.start_date.strftime("%m").to_i - 1) %>, <%= envbooking.start_date.strftime("%d") %>),
            new Date(<%= envbooking.end_date.strftime("%Y") %>, <%= (envbooking.end_date.strftime("%m").to_i) - 1 %>, <%= envbooking.end_date.strftime("%d") %>)
          ],
        <% end %>
      <% end %>
    ]);
    
    chart.draw(dataTable);

  }
<% end %>

<% content_for :timeline_divs do %>
  <div id="timeline" style="width:100%; height:<%= @divheight %>px;"></div>
<% end %>

<% content_for :visualisation_library do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>
