<%- model_class = Envbooking -%>

<% content_for :vis_entry_point do %>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.3.0/vis.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.3.0/vis.min.css" rel="stylesheet" type="text/css" />

  <script id="item-template" type="text/x-handlebars-template">
    <strong>Project    : </strong>{{project}}
    <strong>Application: </strong>{{app}}
    <strong>User       : </strong>{{user}}
  </script>
  
  <script>
    var source = document.getElementById('item-template').innerHTML;
    var template = Handlebars.compile(source);

    var container=document.getElementById('visualization');
    var groups = new vis.DataSet();

    <% @envs.each do |env| %>
      groups.add({id:<%= env.id %>, content:'<%= env.name %>'});
    <% end %>

    var items = new vis.DataSet();

    <% @envbookings.each do |booking| %>
      items.add({
        id: <%= booking.id %>,
        type: 'range',
        start: '<%= booking.start_date.to_time.iso8601 %>',
        end: '<%= booking.end_date.to_time.iso8601 %>', 
        user: '<%= User.find_by_id(booking.user_id).email %>',
        project: '<%= Project.find_by_id(booking.project_id).name %>',
        app: '<%= App.find_by_id(booking.app_id).name %>',
        group: <%= booking.env_id %>,
        style: 'background-color: <%= App.find_by_id(booking.app_id).color %>'
      });
    <% end %>

    var options = {
      clickToUse: true,
      min: '<%= @min_date %>',
      max: '<%= @max_date %>',
      template: template,
    <% if current_user.try(:admin?) %>
      editable: true,
    <% else %>
      editable: false,
    <% end %>
      onRemove: function(item, callback) {
        var r = confirm("Are you sure?");
        if(r == true) {
          $.ajax({
            url: '/envbookings/delete_booking',
            type: 'post',
            data: { envbooking: JSON.stringify(item)}
          });
          callback(item);
        }
        else {
          callback(null);
        }
      },
      onMove: function(item, callback) {
        $.ajax({
          url: '/envbookings/update_booking',
          type: 'post',
          data: { envbooking: JSON.stringify(item)}
        });
        callback(item);
      },
      type: 'range'
    };
    var timeline = new vis.Timeline(container, items, groups, options);
  </script>

<% end %>

<% content_for :timeline_divs do %>
  <div id="visualization"></div>
<% end %>
