<%= form_for @envapp, :html => { :class => "form-horizontal envapp" } do |f| %>

    <% if @envapp.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@envapp.errors.count, "error") %> prohibited this envapp from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @envapp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :env_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :env_id, options_for_select(Env.all.map{|e|[e.name, e.id]}), :class => 'form-control' %>
    </div>
    <%= error_span(@envapp[:env_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :app_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :app_id, options_for_select(App.all.map{|e|[e.name, e.id]}), :class => 'form-control' %>
    </div>
    <%= error_span(@envapp[:app_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            envapps_path, :class => 'btn btn-default' %>

<% end %>
