<div class="login-page">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'well   col-md-6 col-md-offset-3'}) do |f| %>

    <h3>Log in</h3>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :email, autofocus: true, :tabindex => 1, :class => 'form-control' %>
      </div>
      <%= error_span(@user[:email]) %>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.password_field :password, autocomplete: "off", :tabindex => 2, :class => 'form-control' %>
      </div>
      <%= error_span(@user[:password]) %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <%= f.label :remember_me, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :remember_me, :tabindex => 3, :class => 'form-control' %>
        </div>
        <%= error_span(@user[:remember_me]) %>
      </div>
    <% end -%>

    <div class="control-group">
      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-primary' %>
      </div>
    </div>

    <%= render "devise/shared/links" %>

    <br/>
    <br/>

  <% end %>
</div>
