<div class="container">
  <div id="content">
    <ul class="nav nav-tabs" data-tabs="tabs" id="tabs">
      <% first = 1 %>
      <% @envs.each do |e| %>
        <% if first==1 %>
          <% first = 0 %>
          <li class="active">
            <a data-toggle="tab" href="#<%= e.name.delete(' ') %>"><%= e.name %></a>
          </li>
        <% else %>
          <li>
            <a data-toggle="tab" href="#<%= e.name.delete(' ') %>"><%= e.name %></a>
          </li>
        <% end %>

      <% end %>
    </ul>
    <div class="tab-content" id="my-tab-content">
      <% first = 1 %>
      <% @envs.each do |e| %>
        <% @properties = Envproperty.where(env_id: e.id) %>
        <% if first == 1 %>
          <% first = 0 %>
          <div class="tab-pane active" id="<%= e.name.delete(' ') %>">
        <% else %>
          <div class="tab-pane" id="<%= e.name.delete(' ') %>">
        <% end %>

          <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
              <th>Property</th>
              <th>Value</th>
            </thead>
            <tbody>
              <% @properties.each do |p| %>
                <tr>
                  <td><%= p.key %></td>
                  <td><%= p.value %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
