<div class="container">
  <div id="content">
    <ul class="nav nav-tabs" data-tabs="tabs" id="tabs">
      <% first = 1 %>
      <% last_sys = "" %>
      <% @systems.each do |sys| %>

        <% if (sys.env.name == last_sys) %>
          <% next %>
        <% else %>
          <% last_sys = sys.env.name %>
        <% end %>

        <% if first==1 %>
          <% first = 0 %>
          <li class="active">
            <a data-toggle="tab" href="#<%= sys.env.name.delete(' ') %>"><%= Env.find(sys.env_id).name %></a>
          </li>
        <% else %>
          <li>
            <a data-toggle="tab" href="#<%= sys.env.name.delete(' ') %>"><%= Env.find(sys.env_id).name %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="tab-content" id="my-tab-content">
      <% first = 1 %>
      <% @systems.each do |sys| %>
        <% if first == 1 %>
          <% first = 0 %>
          <div class="tab-pane active" id="<%= sys.env.name.delete(' ') %>">
        <% else %>
          <div class="tab-pane" id="<%= sys.env.name.delete(' ') %>">
        <% end %>

          <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
              <th>Property</th>
              <th>Value</th>
            </thead>
            <tbody>
              <% sys.system_properties.each do |sp| %>
                <tr>
                  <td><%= sp.key %></td>
                  <td><%= sp.value %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
