<%= form_for @app, remote: true, :html => { :class => "form-horizontal app", style: "display:inline;"} do |f| %>

    <div class="modal-body">
      <% if @app.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <script>
      $(".basic-color-picker").spectrum({
        color: "<%= @app.color %>",
        preferredFormat: "hex",
        change: function(color) {
          $("#color-callback").text(color.toHexString());
        }
      });
    </script>
    
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control', :autofocus => true %>
      </div>
      <%= error_span(@app[:name]) %>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
      <%= error_span(@app[:name]) %>
    </div>

    <div class="control-group">
      <%= f.label :color, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :color, :class => 'form-control basic-color-picker' %>
        <small id="color-callback"><%= @app.color %></small>
      </div>
      <%= error_span(@app[:name]) %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>

<% end %>
