<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Application to book test environments">
    <meta name="author" content="JRG">

    <title><%= content_for?(:title) ? yield(:title) : "Envbooker" %></title>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <%= yield :vis_javascript %>

  </head>
  <body>
  <% if current_user.try(:user_preference).try(:sidebar) %>
    <div id="wrapper">
  <% end %>
      <!-- Navigation -->
      <%= render :partial => 'home/navbar' %>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-success" style="display: none;"></div>
              <div class="alert alert-danger" style="display: none;"></div>
              <div class="alert alert-warning" style="display: none;"></div>
              <div class="alert alert-info" style="display: none;"></div>
            </div>

            <div class="col-md-12" id="banner-alerts">
              <%= bootstrap_flash %>
            </div>
          </div>

          <div id="js_content_for_timeline">
            <%= yield :vis_timeline %>
          </div>

          <div id="appconfig-modal" class="modal" role="dialog"></div>
          <div id="envbooking-modal" class="modal" role="dialog"></div>

          <div class="col-md-12">
            <!-- Don't remove this -->
            <%= yield %>
          </div>

          <div class="row">
            <div class="col-lg-12" id="html_content_for_timeline">
              <%= yield :timeline_divs %>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div><!-- /#page-wrapper -->
  <% if current_user.try(:user_preference).try(:sidebar) %>
    </div><!-- /#wrapper -->
  <% end %>
  </body>
</html>
